@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    text-rendering: optimizeLegibility;

    --black: 253 253 253; /* white */
    --white: 16 16 16; /* black */
    --secondary: 58 61 63;
    --smoke: 208 208 208;
    --hovered: 243 243 243;
    --subtle: 224 224 224;

    --softblack: 240 240 240;
    --zinc: 224 224 224;
    --softzinc: 206 206 206;
    --wheat: 68 68 68;
    --mossgreen: 137 154 92;
    --empty: 175 175 175;
    --border: 200 200 200;
    --smokewhite: 25 25 25;
    --light-smokewhite: 30 30 30;
    --lightgray: 136 136 136;

    --spinner-color: #646464;
  }

  .dark {
    --black: 16 16 16;
    --white: 254 254 254;
    --secondary: 208 208 208;
    --smoke: 58 61 63;
    --hovered: 36 36 36;
    --subtle: 40 40 40;

    --softblack: 24 24 24;
    --zinc: 32 32 32;
    --softzinc: 50 50 50;
    --wheat: 188 185 138;
    --mossgreen: 137 154 92;
    --empty: 80 80 80;
    --border: 54 54 54;
    --smokewhite: 229 229 229;
    --light-smokewhite: 224 224 224;
    --lightgray: 136 136 136;

    --spinner-color: #e8e8e8;
  }

  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  button {
    user-select: none;
  }
}

@layer utilities {
  .max-h-dialog {
    max-height: calc(100vh + 0.5rem);
    max-height: calc(100dvh + 0.5rem);
  }
}

.bezier-quart {
  transition-timing-function: cubic-bezier(0.77, 0, 0.18, 1);
}

.box-clone {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.ease {
  transition-property: all;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: all;
  -moz-transition-timing-function: ease;
  -o-transition-property: all;
  -o-transition-timing-function: ease;
}

/* Hide Scrollbar */
.scrollbar-none::-webkit-scrollbar {
  /* WebKit: Chrome, Safari */
  display: none;
}

.scrollbar-none {
  /* IE 10+ */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

/* #region /**=========== Dialog =========== */

/* Dialog Overlay */
[data-dialog-overlay] {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
}

@media (min-width: 448px) {
  [data-dialog-overlay] {
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}

/* Dialog Content */

[data-dialog-content] {
  transition-property: opacity, transform, scale;
  transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
}

[data-dialog-state="initial"] {
  opacity: var(--opacity-from, 0);
  transform: translate(var(--x-from, -50%), var(--y-from)) scale(var(--scale-from, 1));
}

[data-dialog-state="animate"] {
  opacity: var(--opacity-to, 1);
  transform: translate(var(--x-from, -50%), var(--y-to)) scale(var(--scale-to, 1));
  transition-duration: 0.3s;
}

[data-dialog-state="exit"] {
  opacity: var(--opacity-from, 0);
  transform: translate(var(--x-from, -50%), var(--y-from)) scale(var(--scale-from, 1));
  transition-duration: 0.5s;
}

@media (min-width: 448px) {
  [data-dialog-content] {
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  [data-dialog-state="animate"] {
    transition-duration: 0.3s;
  }

  [data-dialog-state="exit"] {
    transition-duration: 0.2s;
  }
}

/* #endregion /**=========== Dialog =========== */
