@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    text-rendering: optimizeLegibility;
  }

  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

.box-clone {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.ease {
  transition-property: all;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: all;
  -moz-transition-timing-function: ease;
  -o-transition-property: all;
  -o-transition-timing-function: ease;
}

/* Hide Scrollbar */
.scrollbar-none::-webkit-scrollbar {
  /* WebKit: Chrome, Safari */
  display: none;
}

.scrollbar-none {
  /* IE 10+ */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}
