@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    text-rendering: optimizeLegibility;

    --black: 253 253 253; /* white */
    --white: 16 16 16; /* black */
    --secondary: 58 61 63;
    --smoke: 208 208 208;
    --hovered: 243 243 243;
    --subtle: 224 224 224;
  }

  .dark {
    --black: 16 16 16;
    --white: 254 254 254;
    --secondary: 208 208 208;
    --smoke: 58 61 63;
    --hovered: 36 36 36;
    --subtle: 40 40 40;
  }

  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  button {
    user-select: none;
  }
}

.box-clone {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.ease {
  transition-property: all;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: all;
  -moz-transition-timing-function: ease;
  -o-transition-property: all;
  -o-transition-timing-function: ease;
}

/* Hide Scrollbar */
.scrollbar-none::-webkit-scrollbar {
  /* WebKit: Chrome, Safari */
  display: none;
}

.scrollbar-none {
  /* IE 10+ */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}
